In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("apps.csv")

In [3]:
df

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...
1,1,JEE Mains PYQ Questions,4.6,com.examgoal.jeemainpreparation.app,https://play-lh.googleusercontent.com/GXjm0N5P...
2,2,MARKS: IIT JEE & NEET Prep App,4.7,com.scoremarks.marks,https://play-lh.googleusercontent.com/LSHIcrtw...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
4,4,Rancho - The JEE App,4.7,in.boosters.rancho.premium,https://play-lh.googleusercontent.com/agcTdDaa...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
8,8,JEE One,4.7,com.jee.one,https://play-lh.googleusercontent.com/f_lO_97M...
9,9,ATP STAR IIT JEE & NEET Prep,4.6,com.app.atpstar,https://play-lh.googleusercontent.com/l9Mfc5pa...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
12,12,JEE Mains By Chapters,4.9,com.examsnet.jeemainschapterwise,https://play-lh.googleusercontent.com/167vqzKf...
13,13,Physics Sir JEE,4.9,com.physicssir.jee,https://play-lh.googleusercontent.com/0jg3LBmy...
14,14,Maths Notes for JEE and NEET,4.9,com.jeenotes.mathsnotes,https://play-lh.googleusercontent.com/Qi0f0sLX...
15,15,Physics Notes for JEE and NEET,4.7,com.toralabs.phynotes,https://play-lh.googleusercontent.com/djnfYATs...
16,16,Chemistry Notes for JEE & NEET,4.7,com.toralabs.chemnotes,https://play-lh.googleusercontent.com/CWPLQWww...
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

In [4]:
df = pd.read_csv("spam.csv")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 606-607: invalid continuation byte

In [5]:
encodings_list = [
    'utf-8',
    'latin-1',
    'utf-16',
    'utf-32',
    'ascii',
    
    'cp1252',
    'gbk',
    'big5',
    'shift-jis',
]

In [6]:
for encoding in encodings_list:
   
   try:
       pd.read_csv("spam.csv" , encoding = encoding)
       print(f"worked with {encoding}")
   except UnicodeDecodeError:  
         print(f" not the correct form of {encoding}")

 not the correct form of utf-8
worked with latin-1
 not the correct form of utf-16
 not the correct form of utf-32
 not the correct form of ascii
worked with cp1252
 not the correct form of gbk
 not the correct form of big5
 not the correct form of shift-jis

In [7]:
df = pd.read_csv("apps.csv")

In [8]:
df

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...
1,1,JEE Mains PYQ Questions,4.6,com.examgoal.jeemainpreparation.app,https://play-lh.googleusercontent.com/GXjm0N5P...
2,2,MARKS: IIT JEE & NEET Prep App,4.7,com.scoremarks.marks,https://play-lh.googleusercontent.com/LSHIcrtw...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
4,4,Rancho - The JEE App,4.7,in.boosters.rancho.premium,https://play-lh.googleusercontent.com/agcTdDaa...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
8,8,JEE One,4.7,com.jee.one,https://play-lh.googleusercontent.com/f_lO_97M...
9,9,ATP STAR IIT JEE & NEET Prep,4.6,com.app.atpstar,https://play-lh.googleusercontent.com/l9Mfc5pa...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
12,12,JEE Mains By Chapters,4.9,com.examsnet.jeemainschapterwise,https://play-lh.googleusercontent.com/167vqzKf...
13,13,Physics Sir JEE,4.9,com.physicssir.jee,https://play-lh.googleusercontent.com/0jg3LBmy...
14,14,Maths Notes for JEE and NEET,4.9,com.jeenotes.mathsnotes,https://play-lh.googleusercontent.com/Qi0f0sLX...
15,15,Physics Notes for JEE and NEET,4.7,com.toralabs.phynotes,https://play-lh.googleusercontent.com/djnfYATs...
16,16,Chemistry Notes for JEE & NEET,4.7,com.toralabs.chemnotes,https://play-lh.googleusercontent.com/CWPLQWww...
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

<h1> LOC AND ILOC </h1>

In [9]:
# got the element in the row having name as app_name
df.loc[1 , "app_name"]

'JEE Mains PYQ Questions'

In [10]:
df.iloc[1 , 1]

'JEE Mains PYQ Questions'

In [11]:
#  FOR MULTIPLE COLUMNS DATA IN A ROW 
df.loc[[1,2,3] , ["app_name" , "rating"]]

                         app_name  rating
1         JEE Mains PYQ Questions     4.6
2  MARKS: IIT JEE & NEET Prep App     4.7
3   IIT JEE Mains & Advanced Prep     4.4

In [12]:
df.iloc[1:4 , 1:3]

                         app_name  rating
1         JEE Mains PYQ Questions     4.6
2  MARKS: IIT JEE & NEET Prep App     4.7
3   IIT JEE Mains & Advanced Prep     4.4

In [13]:
df.iloc[1: , :]

,Unnamed: 0,app_name,rating,app_id,images
1,1,JEE Mains PYQ Questions,4.6,com.examgoal.jeemainpreparation.app,https://play-lh.googleusercontent.com/GXjm0N5P...
2,2,MARKS: IIT JEE & NEET Prep App,4.7,com.scoremarks.marks,https://play-lh.googleusercontent.com/LSHIcrtw...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
4,4,Rancho - The JEE App,4.7,in.boosters.rancho.premium,https://play-lh.googleusercontent.com/agcTdDaa...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
8,8,JEE One,4.7,com.jee.one,https://play-lh.googleusercontent.com/f_lO_97M...
9,9,ATP STAR IIT JEE & NEET Prep,4.6,com.app.atpstar,https://play-lh.googleusercontent.com/l9Mfc5pa...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
12,12,JEE Mains By Chapters,4.9,com.examsnet.jeemainschapterwise,https://play-lh.googleusercontent.com/167vqzKf...
13,13,Physics Sir JEE,4.9,com.physicssir.jee,https://play-lh.googleusercontent.com/0jg3LBmy...
14,14,Maths Notes for JEE and NEET,4.9,com.jeenotes.mathsnotes,https://play-lh.googleusercontent.com/Qi0f0sLX...
15,15,Physics Notes for JEE and NEET,4.7,com.toralabs.phynotes,https://play-lh.googleusercontent.com/djnfYATs...
16,16,Chemistry Notes for JEE & NEET,4.7,com.toralabs.chemnotes,https://play-lh.googleusercontent.com/CWPLQWww...
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

In [14]:
df.iloc[1: , 2:]

,rating,app_id,images
1,4.6,com.examgoal.jeemainpreparation.app,https://play-lh.googleusercontent.com/GXjm0N5P...
2,4.7,com.scoremarks.marks,https://play-lh.googleusercontent.com/LSHIcrtw...
3,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
4,4.7,in.boosters.rancho.premium,https://play-lh.googleusercontent.com/agcTdDaa...
5,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
8,4.7,com.jee.one,https://play-lh.googleusercontent.com/f_lO_97M...
9,4.6,com.app.atpstar,https://play-lh.googleusercontent.com/l9Mfc5pa...
10,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,4.5,com.vedantu.testprep,0
12,4.9,com.examsnet.jeemainschapterwise,https://play-lh.googleusercontent.com/167vqzKf...
13,4.9,com.physicssir.jee,https://play-lh.googleusercontent.com/0jg3LBmy...
14,4.9,com.jeenotes.mathsnotes,https://play-lh.googleusercontent.com/Qi0f0sLX...
15,4.7,com.toralabs.phynotes,https://play-lh.googleusercontent.com/djnfYATs...
16,4.7,com.toralabs.chemnotes,https://play-lh.googleusercontent.com/CWPLQWww...
17,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

<h2>FILTERING DATASETS</h2>

In [15]:
df[df["rating"] < 4.6]

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

In [16]:
df[df["rating"] < 4.6][df["rating"] >4.0]

C:\Users\Manoj\AppData\Local\Temp\ipykernel_5948\2337929271.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["rating"] < 4.6][df["rating"] >4.0]

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

In [17]:
df_new = df[df["rating"] < 4.6][df["rating"] >4.0]

C:\Users\Manoj\AppData\Local\Temp\ipykernel_5948\1204634424.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new = df[df["rating"] < 4.6][df["rating"] >4.0]

In [18]:
df_new

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...
3,3,IIT JEE Mains & Advanced Prep,4.4,com.edurev.iit,https://play-lh.googleusercontent.com/dO8otBHI...
5,5,MathonGo - for IIT JEE | Board,4.4,com.learnacad.learnacad,https://play-lh.googleusercontent.com/hvHt5x4T...
6,6,PHYSICS - JEE PAST YEAR PAPERS,4.5,com.rktech.jeemainphy,https://play-lh.googleusercontent.com/FCgbtRvI...
7,7,ExamGOAL: JEE Adv Questions,4.4,com.examgoal.jeeadvancedpreparation.app,https://play-lh.googleusercontent.com/P0UZlmL8...
10,10,CHEMISTRY: JEE PAST YEAR PAPER,4.4,com.rktech.jeemainchemistry,https://play-lh.googleusercontent.com/LmCnTS-c...
11,11,JEE & NEET Prep - English Only,4.5,com.vedantu.testprep,0
17,17,Maths Notes for JEE Offline,4.5,com.toralabs.mathsnotes,https://play-lh.googleusercontent.com/kDXnSCal...

In [19]:
df[df["app_id"]=="jee.iit.latest"]

,Unnamed: 0,app_name,rating,app_id,images
0,0,JEE Mains & JEE Advance 2024,4.4,jee.iit.latest,https://play-lh.googleusercontent.com/2wrbqcsM...

<H2>UNIQUE , VALUE_COUNTS</H2>

In [20]:
df["app_name"].unique()

array(['JEE Mains & JEE Advance 2024', 'JEE Mains PYQ Questions',
       'MARKS: IIT JEE & NEET Prep App', 'IIT JEE Mains & Advanced Prep',
       'Rancho - The JEE App', 'MathonGo - for IIT JEE | Board',
       'PHYSICS - JEE PAST YEAR PAPERS', 'ExamGOAL: JEE Adv Questions',
       'JEE One', 'ATP STAR IIT JEE & NEET Prep',
       'CHEMISTRY: JEE PAST YEAR PAPER', 'JEE & NEET Prep - English Only',
       'JEE Mains By Chapters', 'Physics Sir JEE',
       'Maths Notes for JEE and NEET', 'Physics Notes for JEE and NEET',
       'Chemistry Notes for JEE & NEET', 'Maths Notes for JEE Offline'],
      dtype=object)

In [21]:
df["app_name"].value_counts()

app_name
JEE Mains & JEE Advance 2024      1
JEE Mains PYQ Questions           1
Chemistry Notes for JEE & NEET    1
Physics Notes for JEE and NEET    1
Maths Notes for JEE and NEET      1
Physics Sir JEE                   1
JEE Mains By Chapters             1
JEE & NEET Prep - English Only    1
CHEMISTRY: JEE PAST YEAR PAPER    1
ATP STAR IIT JEE & NEET Prep      1
JEE One                           1
ExamGOAL: JEE Adv Questions       1
PHYSICS - JEE PAST YEAR PAPERS    1
MathonGo - for IIT JEE | Board    1
Rancho - The JEE App              1
IIT JEE Mains & Advanced Prep     1
MARKS: IIT JEE & NEET Prep App    1
Maths Notes for JEE Offline       1
Name: count, dtype: int64

In [22]:
df["rating"].value_counts()

rating
4.4    5
4.7    5
4.5    3
4.9    3
4.6    2
Name: count, dtype: int64

In [23]:
df["rating"].unique()

array([4.4, 4.6, 4.7, 4.5, 4.9])

<h2>COUNT</h2>

In [24]:
data = {
    'A': [1, 2, 3, None],
    'B': [4, None, 6, 7],
    'C': [None, None, None, 8]
}
df = pd.DataFrame(data)

In [25]:
df.count()

A    3
B    3
C    1
dtype: int64

In [26]:
df.count(axis=1)

0    2
1    1
2    2
3    2
dtype: int64

<h2>PLOT FUNCTION</h2>

In [27]:
df = pd.read_csv("train.csv")

In [28]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
df["Embarked"].value_counts().plot(kind="barh")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [30]:
df = df[df["Sex"]=="male"]

In [31]:
df["Embarked"].value_counts().plot(kind="barh")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [32]:
x = df["Embarked"].value_counts().index
y = df['Embarked'].value_counts().values

In [33]:
y

array([441,  95,  41], dtype=int64)

<h1>DUPLICATES</h1>

In [34]:
df[df.duplicated() == True]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [35]:
df.drop_duplicates(keep="first")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<h1>DESC AND INFO</h1>

In [36]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,577.000000,577.000000,577.000000,453.000000,577.000000,577.000000,577.000000
mean,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893
std,257.486139,0.391775,0.813580,14.678201,1.061811,0.612294,43.138263
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,464.000000,0.000000,3.000000,29.000000,0.000000,0.000000,10.500000
75%,680.000000,0.000000,3.000000,39.000000,0.000000,0.000000,26.550000
max,891.000000,1.000000,3.000000,80.000000,8.000000,5.000000,512.329200

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 577 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  577 non-null    int64
 1   Survived     577 non-null    int64
 2   Pclass       577 non-null    int64
 3   Name         577 non-null    object
 4   Sex          577 non-null    object
 5   Age          453 non-null    float64
 6   SibSp        577 non-null    int64
 7   Parch        577 non-null    int64
 8   Ticket       577 non-null    object
 9   Fare         577 non-null    float64
 10  Cabin        107 non-null    object
 11  Embarked     577 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 58.6+ KB

<h2>.ISNULL</h2>

In [42]:
df[df["Sex"].isnull() == True]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [41]:
df["Cabin"].isnull().count()

577

In [43]:
df.dropna(axis=1)

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,S
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,S
5,6,0,3,"Moran, Mr. James",male,0,0,330877,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,0,0,17463,51.8625,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,3,1,349909,21.0750,S
...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,0,0,C.A./SOTON 34068,10.5000,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,0,0,SOTON/OQ 392076,7.0500,S
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,Q

In [44]:
df.dropna(how = "all")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q